* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #bdc2e0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #3b3b57;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer div {
    color: #50546c;
}

main {
    padding-top: 50px;
    flex: 1
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #cacfee;
    align-items: center;
    border-bottom: 2px solid #8089bb;
    font-size: 24px;
    font-family: "JetBrains Mono", serif;
}

.navbar div a {
    text-decoration: none;
    color: #8089bb;
}

.navbar div a:hover {
    color: #43436e;
}

.navbar a.active {
    color: #43436e;
}

.menu-dropdown {
    display: none;
    position: relative;
    margin-left: auto;
    padding-right: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -50px;
    z-index: 1;
    background-color: #b2b2d0;
    opacity: 80%;
    padding: 0 20px;
}

.dropdown-button {
    background-color: #cacfee;
    margin-top: 0;
    width: 40px;
}

.dropdown-button:hover {
    background-color: #cacfee;
}

.catalog {
    width: 70%;
    height: 100%;
    background-color: #cacfee;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 45vh;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #43436e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 2px #444456;
    transition: all 0.8s ease 0.15s;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 8px 2px #444456;
}

.card img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    object-fit: cover;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.card-content h2 {
    color: #aeb4de;
    font-size: 1.5rem;
    margin: 0;
}

.card-content p {
    margin: 10px 0;
    color: #9999ad;
}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #b2b2d0;
    font-size: 1.5rem;
    margin-top: 5px;
}

button {
    width: 70%;
    background-color: #b2b2d0;
    color: #43436e;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #bcbed0;
}

.menu-dropdown:hover .dropdown-content {
    display: block;
}

table {
    border-collapse: collapse;
    color: #3b3b57;
}

table td {
    width: 10vw;
    padding: 10px;
}

table tr:nth-child(odd) {
    background-color: #a3a3c7;
}

table tr:first-child {
    background-color: #484867;
    color: #1a1a4b;
}

.info {
    width: 70%;
    height: 100%;
    background-color: #cacfee;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    color: #43436e;
}

.info h1 {
    color: #43436e;
}

.contacts {
    display: flex;
    width: 260px;
    margin-top: 8px;
    justify-content: space-between;
}

.contacts a {
    background-color: #aeb4de;
    height: 4vh;
    width: 115px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3b3b57;
}

.contacts a:hover {
    background-color: #3b3b57;
    color: #aeb4de;
}

.wishListPage {
    justify-content: flex-start;
    align-items: center
}

#wishForm {
    margin: 40px auto;
}

#wishForm input {
    font-size: 17px;
    width: 15vw;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

#wishForm button {
    width: 30.2vw;
    font-size: 17px;
}

#wishTable {
    width: 46vw;
    margin-left: 14vw;
}

#wishTable tr {
    height: 50px;
    text-align: center;
}

#wishTable th {
    width: 15vw;
    text-align: center;
}

#wishTable tr:first-child th:last-child {
    background-color: #cacfee;
    width: 13vw;
}

#wishTable th:last-child, #wishTable td:last-child {
    background-color: #cacfee;
    text-align: start;
    padding-left: 2vw;
}

#wishTable button {
    width: 45px;
    background-color: #cacfee;
}

@media (orientation: portrait) {
    .menu-dropdown {
        display: inline-block;
    }

    .navbar div:not(.menu-dropdown) {
        display: none;
    }
}
